@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #181927;
    font-family: Comfortaa, Arial, sans-serif;
    color: #00f0ff; /* neon cyan-blue */
    margin: 0;
    height: 100vh;
     overflow: hidden; /* optional if you never want scrolling */
}


.sidebar {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    /*justify-content: space-between;*/
    transform: translateX(-80%); /* move offscreen to the left */
    transition: transform 0.3s ease; /* smooth animation */
}

.sidebar.active {
  transform: translateX(0);
}

.item {
    background: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.sidenumber {
    margin: 10px;
    font-size: 30px;
    text-align: right;
    vertical-align:middle;
}

.padlock {
    width: 35px;
    height: 35px;
    color: orange;
}
