@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #181927;
    font-family: Comfortaa, Arial, sans-serif;
    color: #00f0ff; /* neon cyan-blue */
    margin: 0;
    height: 100vh;
     overflow: hidden; /* optional if you never want scrolling */
}


.sidebar {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    /*justify-content: space-between;*/
    transform: translateX(-80%); /* move offscreen to the left */
    transition: transform 0.3s ease; /* smooth animation */
    user-select: none; /* Standard */
}

.sidebar.active {
  transform: translateX(0);
}

.item {
    background: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.item:hover {
    background: #0a0c33; /* slightly lighter than #02041d */
    box-shadow: 0 0 10px #00f0ff, 0 0 15px #00f0ff inset; /* stronger glow */
    border-color: #00ffff; /* brighter neon cyan */
    cursor: pointer; /* indicates it's interactive */
    transition: all 0.1s ease; /* smooth transition */
}

.item.selected {
  background-color: #161a66;; /* lighter color */
  transition: background-color 0.3s ease;
}



.sidenumber {
    width: 36px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    vertical-align:middle;
}

.padlock {
    width: 35px;
    height: 35px;
    color: orange;
}

.itemtext{
    margin-left: 15px;
    font-size: x-large;

}
