@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #181927;
    font-family: Comfortaa, Arial, sans-serif;
    color: #00f0ff; /* neon cyan-blue */
    margin: 0;
    height: 100vh;
    overflow: hidden; /* optional if you never want scrolling */
    user-select: none;
}

/* Sidebar */
.sidebar {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    user-select: none;
    z-index: 1000; /* ensures it sits above page content */
}


.item {
    background: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.item:hover {
    background: #0a0c33; 
    box-shadow: 0 0 10px #00f0ff, 0 0 15px #00f0ff inset; 
    border-color: #00ffff; /* brighter neon cyan */
    cursor: pointer; /* indicates it's interactive */
    transition: all 0.1s ease; /* smooth transition */
}

.item.selected {
  background-color: #161a66;; /* lighter color */
  transition: background-color 0.3s ease;
}



.sidenumber {
    width: 36px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    vertical-align:middle;
}

.padlock {
    width: 35px;
    height: 35px;
    color: orange;
}

.itemtext{
    margin-left: 15px;
    font-size: x-large;

}
.missiontitle {
    position: absolute;
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
}

.missionstars {
    
    margin-top: 5px;
    position: relative;
    font-size: xx-large;
    text-align: center;
}

.centerflexwrapper {
    display: flex; 
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.centerflexbox {
     user-select: text;
    width: 45%;
    display: flex;
    flex-direction: row; /* side by side */
    gap: 10px; /* optional spacing between items */
}

.itemwrapper {
    text-align: center;
    display: flex;
    flex-direction: column; /* stack header on top of box */
    flex: 1; /* take equal horizontal space */
}



.missiondescription,
.missiontools {
    font-size: larger;
    height: 25vh; /* or whatever fixed height you want */
    background-color: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebutton{
    margin: 50px;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    position: fixed;
    top: 0;       /* distance from the top */
    right: 0;     /* distance from the right */
    z-index: 100; /* optional, ensures it’s above other elements */
}

.homebutton:hover {
    background-color: #0a0c33;
    box-shadow: 0 0 10px #00f0ff, 0 0 15px #00f0ff inset; 
    box-shadow: 0 0 15px #00f0ff, 0 0 15px #00f0ff inset; 
    border-color: #00ffff; /* brighter neon cyan */
    cursor: pointer; /* indicates it's interactive */
    transition: all 0.1s ease; /* smooth transition */
}
.startbutton {
    display: flex;
    align-items: center;      /* vertical */
    justify-content: center;
    background-color: #02041d;
    border: 2px solid #00f0ff;
    box-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff inset;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) ;
    bottom: 10%;
    width: 15%;
    height: 10%;
    font-size: x-large;
}

.startbutton:hover {
    background-color: #0a0c33;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #00f0ff, 0 0 15px #00f0ff inset; 
    box-shadow: 0 0 15px #00f0ff, 0 0 15px #00f0ff inset; 
    border-color: #00ffff; /* brighter neon cyan */
    cursor: pointer; /* indicates it's interactive */
    transition: all 0.1s ease; /* smooth transition */
}
