body {
    background: #181927; /* dark bluish background */
    font-family: Arial, sans-serif;
    color: #00f0ff; /* neon cyan text */
    margin: 0;
    word-wrap: break-word;
    
}


.terminal {
    overflow-y: scroll;       /* enables scrolling */
    scrollbar-width: none;    /* Firefox */
    background: #181927;     /* darker bluish background */
    color: #00deee;           /* neon cyan text */
    font-family: 'Consolas', monospace;
    padding: 20px;
    margin: 0px;
    width: 95vw;
    height: 90vh;
    overflow-y: auto;
    position: relative;
    overflow-wrap: break-word;
    word-break: break-all;
}

.line {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    outline: none;   /* removes the default focus border */
}

.InputLine{
        white-space: pre-wrap;
        overflow-wrap: break-word;
        outline: none;   /* removes the default focus border */
}

.highlighted {
    background-color: #00deee; /* neon cyan background */
    color: #181927;            /* dark text to contrast */
}

.dialogueBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 269px;
    background-image: url("../assets/HackerDialogueBorder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: none;
    z-index: 9999;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    color: #00f0ff;
    font-size: 1.7em;
    cursor: pointer;
}

.dialogueTerminal {
    position: absolute;
    bottom: 17px;
    left: 25px;
    right: 235px;
    top: 24px;

    display: flex;
    flex-direction: column; /* normal flow top → bottom */
    justify-content: flex-end; /* push content to bottom initially */

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dialogueTerminal::-webkit-scrollbar { display: none; }

.dialogueTerminal div {
    white-space: pre-wrap;
    font-family: 'Glitchy', 'Fira Mono', monospace;
    color: #00f0ff; /* neon cyan text */
    font-size: 20px;
    line-height: 1.15em;
}
